@font-face {
	font-family: NanumGothic;
	src: local("?"), url(../imgs/nanum.woff) format("woff"), url(../imgs/nanum.ttf) format("truetype");
}
img {
	border: currentColor; border-image: none;
}
a {
	color: rgb(102, 102, 102); text-decoration: none;
}
a:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
.clear {
	clear: both;
}
#outer_wrap {
	margin: 0px auto; padding: 0px; width: 1600px;
}
#wrap {
	margin: 0px auto; padding: 0px; width: 1400px; float: center;
}

/* 헤더 시작 */
header {
	margin-top: 20px;
}
header #logo {
	margin-left: 10px; float: left;
}
header #head_link {
	font-size: 0.75em; margin-right: 10px; float: right;
}
header #head_link ul {
	list-style: none;
}
header #head_link li {
	padding: 0px 8px; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; float: left;
}
#head_link .no_line {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
header #search {
	margin: 20px 10px 0px 0px; padding: 0px; float: right;
}
header #search .main_input {
	padding: 0px 5px; border: 3px solid rgb(51, 102, 153); border-image: none; width: 260px; height: 22px;
}
header #search .btn1 {
	border: 1px solid rgb(51, 102, 153); border-image: none; width: 55px; height: 28px; color: rgb(255, 255, 255); margin-left: 2px; background-color: rgb(51, 102, 153);
}

/* 사이드,네비게이션 */
aside {
	width: 205px; float: left;
}
nav {
	margin: 25px 0px 0px 10px; font-family: "NanumGothic", Serif; font-size: 0.8em;
}
nav ul {
	list-style: none;
}
nav ul li {
	padding: 5px 10px; text-transform: uppercase;
}
nav ul li a {
	display: block;
}
nav ul li h3 {
	background-position: top; padding: 5px 20px; border-radius: 20px; border: 1px solid rgb(204, 204, 204); border-image: none; text-transform: capitalize; font-size: 14px; background-image: url("../imgs/nav_back.jpg"); background-repeat: repeat-x; background-color: rgb(229, 229, 229);
}
nav ul li ul {
	margin: 10px 0px 0px;
}
nav ul li ul li {
	padding: 0px 0px 0px 20px; line-height: 2em;
}
aside #banner {
	margin: 10px 15px;
}

/* 메인화면 타이틀 */
article {
	margin: 0px; width: 1000px; height: 1300px; float: left; padding: 0px; 
}
article h1 {
	padding: 0px 0px 5px; letter-spacing: 2px; font-family: "NanumGothic"; 
	font-size: 1.5em; border-bottom-color: #112d4e; border-bottom-width: 2px; border-bottom-style: solid; 
	color: #112d4e; 
}

/* 푸터 */
footer {
	background-position: top; margin: 0px; font-size: 0.75em; background-image: url("../imgs/foo_back.gif"); background-repeat: repeat-x;
}
footer ul {
	list-style: none; margin: 0px 0px 0px 210px;
}
footer ul li {
	background-position: right; font-family: "NanumGothic", Serif; float: left; background-image: url("../imgs/foot_line.gif"); background-repeat: no-repeat;
}
footer ul li.no_line {
	background-image: none;
}
footer ul li a {
	padding: 5px 15px; font-size: 1.1em; display: block;
}
footer img {
	margin: 10px 10px 0px 10px; width: 150px; float: left;
}



